---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../features/Navigation.astro";
import Hero from "../../features/Hero.astro";
import ProductCard from "../../features/product/ProductCard.astro";
import CollectionCard from "../../features/collection/CollectionCard.astro";
import Footer from "../../features/Footer.astro";
import { getNavigationCollections } from "../../features/collection/collection-service";

const collections = await getNavigationCollections(Astro.locals.locale);
---

<BaseLayout title="Astro", metaTitle="Astro", metaDescription="Astro">
  <Navigation />

  <Hero
    image="https://images.unsplash.com/photo-1556695736-d287caebc48e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    title="New arrivals are here"
    description="The new arrivals have, well, newly arrived. Check out the latest options from our summer small-batch release while they're still in stock."
    buttonText="Shop New Arrivals"
    buttonHref="#"
  />

  <main>
    <!-- Product section -->
    <section
      aria-labelledby="product-heading"
      class="mx-auto max-w-xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 my-20"
    >
      <h2 id="category-heading" class="text-2xl font-bold tracking-tight">
        Popular products
      </h2>

      <div class="mt-10 grid grid-cols-2 gap-4 lg:grid-cols-4 lg:gap-8">
        <ProductCard
          href="#"
          image="https://images.unsplash.com/photo-1622260614153-03223fb72052?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          title="New Arrivals"
          price="€ 100"
          hasMultipleVariants={false}
        />
        <ProductCard
          href="#"
          image="https://images.unsplash.com/photo-1547949003-9792a18a2601?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          title="Productivity"
          price="€ 100"
          hasMultipleVariants={true}
        />
        <ProductCard
          href="#"
          image="https://images.unsplash.com/photo-1622260614153-03223fb72052?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          title="Workspace"
          price="€ 100"
          hasMultipleVariants={false}
        />
        <ProductCard
          href="#"
          image="https://images.unsplash.com/photo-1547949003-9792a18a2601?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          title="Accessories"
          price="€ 100"
          hasMultipleVariants={true}
        />
      </div>
    </section>

    <!-- Collection section -->
    <section
      aria-labelledby="collection-heading"
      class="mx-auto max-w-xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 my-20"
    >
      <h2 id="collection-heading" class="text-2xl font-bold tracking-tight">
        Shop by Collection
      </h2>
      <p class="mt-4 text-base opacity-70">
        Each season, we collaborate with world-class designers to create a
        collection inspired by the natural world.
      </p>

      <div class="mt-10 grid gap-4 lg:grid-cols-3 lg:gap-8">
        {collections.map((collection) => (
          <CollectionCard
            href={`/c/${collection.slug}`}
            image={`${collection.featuredAsset?.preview}?preset=small&format=webp`}
            title={collection.name}
            description={collection.description}
          />
        ))}
      </div>
    </section>
  </main>

  <Footer />
</BaseLayout>
