---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Footer from "../../../components/Footer.astro";
import Navigation from "../../../components/Navigation.astro";
import { ProductImageGallery } from "../../../components/ProductImageGallery";
import { ProductSelector } from "../../../components/ProductSelector";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getProductBySlug } from "../../../lib/server/product-service";

const product = await getProductBySlug(
  Astro.locals.locale,
  Astro.params.product!,
);
if (!product) {
  return Astro.redirect(`/404`);
}
---

<BaseLayout
  title="Product"
  metaTitle="Product"
  metaDescription="Product detail"
>
  <Navigation />

  <main>
    <Breadcrumb
      paths={product.collections[0]?.breadcrumbs ?? []}
      currentPage={product.name}
    />

    <div
      class="mx-auto max-w-2xl px-4 pb-16 sm:px-6 sm:pb-24 lg:max-w-7xl lg:px-8"
    >
      <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
        <h1
          class="text-base-content mb-4 text-3xl font-bold tracking-tight sm:hidden"
        >
          {product.name}
        </h1>
        <!-- Image gallery -->
        <ProductImageGallery client:load product={product} />

        <!-- Product info -->
        <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
          <h1
            class="text-base-content mb-3 hidden text-3xl font-bold tracking-tight sm:block"
          >
            {product.name}
          </h1>

          <h2 class="sr-only">Product information</h2>
          <ProductSelector
            client:load
            product={product}
            addToCartLabel={Astro.locals.m.pdp_addToCart()}
            soldOutLabel={Astro.locals.m.pdp_soldOut()}
            moreLabel={Astro.locals.m.more()}
          />

          <div class="mt-6">
            <h3 class="sr-only">Description</h3>
            <div class="text-base-content/80 space-y-6 text-base">
              <div set:html={product.description} />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <Footer />
</BaseLayout>
