---
import { ArrowUpRight } from "./icons/ArrowUpRight";

interface Props {
  href: string;
  image: string;
  title: string;
  description: string;
}

const { href, image, title, description } = Astro.props;
---

<a href={href} class="group block">
  <figure class="relative">
    <img
      src={image}
      alt={title}
      class="rounded-box aspect-square w-full object-cover"
    />
    <div
      class="bg-base-100 rounded-box absolute inset-0 opacity-0 transition-opacity duration-300 group-hover:opacity-20"
      aria-hidden="true"
    >
    </div>
  </figure>
  <div class="flex flex-row items-end justify-between gap-4 pt-4">
    <div class="min-w-0 flex-1">
      <h3 class="text-lg font-semibold uppercase">{title}</h3>
      <div class="font-light opacity-70" set:html={description} />
    </div>
    <span
      class="btn btn-circle btn-primary btn-sm text-base-content shrink-0"
      aria-hidden="true"
    >
      <ArrowUpRight className="size-4" />
    </span>
  </div>
</a>
