---
import "../styles/global.css";
import { Notification } from "../components/Notification";
import { createMessageFn } from "../lib/locale-util";
import { translations } from "../translations";

interface Props {
  title: string;
  metaTitle: string;
  metaDescription: string;
}

const { title, metaTitle, metaDescription } = Astro.props;
---

<html lang="en" data-locale={Astro.locals.locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={metaTitle} />
    <meta name="description" content={metaDescription} />
  </head>
  <body class="bg-base-200">

    <slot />
    <Notification client:idle />
  </body>
</html>

<script>
  import { getActiveOrder } from "../client/order-service";
  const locale = document.documentElement.dataset.locale ?? "nl";
  // Fetch active order client-side on every page load
  getActiveOrder(locale).catch(console.error);
</script>

<!-- Pass messages for current locale to the client -->
<script define:vars={{ messages: translations[Astro.locals.locale as keyof typeof translations] }}>
  window.__messages = messages;
</script>
